<div class="order-table">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Artikel ID</th>
        <th>Category ID</th>
        <th>Description</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      @for (order of dataStore.sortedOrders(); track order.id) {
        <tr>
          <td>{{ order.id }}</td>
          <td>{{ order.artikelid }}</td>
          <td>{{ order.categoryid }}</td>
          <td>{{ order.description }}</td>
          <td>{{ order.quantity }}</td>
          <td>{{ order.price | currency: "EUR" }}</td>
          <td>{{ order.quantity * order.price | currency: "EUR" }}</td>
        </tr>
      }
    </tbody>
    <tfoot>
      <tr>
        <td colspan="6" style="text-align: right; font-weight: bold">
          Grand total:
        </td>
        <td style="text-align: left; font-weight: bold">
          {{ getTotalPrice() | currency: "EUR" }}
        </td>
      </tr>
    </tfoot>
  </table>
</div>
