:host {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  width: 240px;
  height: 250px;
}

.card .image {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ordercard {
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
  height: fit-content;
  width: 98%;
  align-self: flex-start;
}

.buttons {
  margin: 0px;
}

button {
  margin: 0 5px 0 0;
}
